.faq-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-question h3 {
    color: var(--Blue-600, #2563EB);

    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.toggle-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.faq-answer {
    color: var(--Blue-Gray-900, #0F172A);

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}